<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" type = "text/css" href = "webjars/bootstrap/5.3.5/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href = "/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />

</head>
<body>
<div class = "card">
    <div class="card-header"><h1 class="title">Patients</h1></div>
    <div class = "card-body">
        <form method="get" th:action="@{index}">
            <label>Keyword:</label>
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by name">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </form>

        <table class="table table-striped" >
            <thead>
            <tr>
                <th>
                    Patient ID
                </th>

                <td> Patient Nom
                </td>

                <td>Sexe</td>
                <td>Date Nissance</td>
                <td>Malade</td>
                <td>Score</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${listPatients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.nom}"></td>
                <td th:text="${patient.sexe}"></td>
                <td th:text="${patient.dateNaissance}"></td>
                <td th:text="${patient.malade}"></td>
                <td th:text="${patient.score}"></td>
                <td>
                    <a  onclick="return confirm('Are you sure you want to delete this patient? \nThis action cannot be undone.')" th:href="@{/delete(id=${patient.id}, keyword=${keyword}, page=${currentPage})}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li th:each="page,status : ${pages}">
                <a th:href="@{/index(page=${status.index}, keyword=${keyword})}"
                   th:class="${ currentPage==status.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                   th:text="${status.index}" ></a>
            </li>
        </ul>
    </div>


</div>

</body>
</html>